@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
  @apply font-extrabold text-5xl text-center tracking-[.3em];
  span {
    display: inline-block;
    margin: 0 -0.05em;
  }
}

.loading-animation span {
  margin: 0 -0.075em;
  animation: loading-keyframe 0.7s infinite alternate;
}

.loading-animation span:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-animation span:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-animation span:nth-child(4) {
  animation-delay: 0.3s;
}

.loading-animation span:nth-child(5) {
  animation-delay: 0.4s;
}

.loading-animation span:nth-child(6) {
  animation-delay: 0.5s;
}

.loading-animation span:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes loading-keyframe {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
